.galerie {
	display: flex;
	overflow-x: auto;
}
.avatar {
	background: rgba(255, 255, 255, 0.8);
	width: 100%;
	margin-bottom: 20px;
	box-shadow: 0 0 10px #efa7a7;
	border-radius: 5px;
}
.avatar-galerie {
	margin: 20px;
	width: 350px;
}
.position-button {
	padding-bottom: 20px;
}
.default-pic {
	font-size: 4em!important;
	padding: 20px;
}
img {
	width: 310px;
	padding: 20px;
}
