.button-update {
	display: block;
	position: fixed;
	margin-top: 38px;
	z-index: 10;
	padding: 10px 20px;
	background: rgba(51,51,51,0.6);
	border-radius: 0 5px 5px 0px;
	border-bottom: 3px solid rgba(164,212,170,1);
	transition: 0.5s;
}

.button-update:hover {
	background-color: rgba(164,212,170,1)!important;
	color: #5b5150!important;
	transition: 0.5s;
}

.button-play {
	background: none;
	color: rgba(164,212,170,1);
	display: block;
	border: none;
	width: 100%;
	font-size: 5em;
	transition: 0.5s;
}

.button-play:hover {
	color: rgba(231,158,158,0.9);
}
