.title-movie {
	font-family: 'Baloo Bhai', cursive;
	font-weight: 100;
	margin-top: 0;
	width: 100%;
	padding-bottom: 10px;
	text-align: center;
	color: whitesmoke;
	font-size: 24px;
}
.img-movie {
	height: 200px;
	margin: 5px;
	border-radius: 3px;
	border-bottom: 5px solid rgba(164,212,170,1);
	box-shadow: 1px 0 3px #000;
}

.content-movie {
	width: 45%;
	color: whitesmoke;
}

.close-search {
	display: block;
	margin-top: -50px;
	margin-left: -40px;
	position: absolute;
	z-index: 15;
	width: 70px;
	color: rgba(164,212,170,1);
	transition: 0.5s;
}

.close-search:hover {
	color: rgba(231,158,158,0.9);
	transition: 0.5s;
}
