.form {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 24em;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.form-init {
	display: block;
	width: 400px;
	font-size: 1.2rem;
	text-align: center;
	background-color: #fff;
	box-shadow: 2px 2px 4px #888;
	border-radius: 3px;
	border: 5px solid #A621B2;
}

.form-header {
	width: 100%;
	color: #fff;
	font-weight: bolder;
	text-align: center;
	background-color: #fff;
	padding: 10px 0 10px 0;
}

.form-link{
	margin: 0;
	display: flex;
	justify-content: center;
	height: 50px;
	background-color: #fff;
}

.login {
	width: 100%;
	padding-top: 10px;
}

.notice {
	margin: auto;
	display: block;
	width: 80%;
}

.button {
	color: white;
	background: #77176f;
	background: -moz-linear-gradient(-45deg,  #77176f 0%, #a621b2 51%, #77176f 52%, #754671 100%);
	background: -webkit-linear-gradient(-45deg,  #77176f 0%,#a621b2 51%,#77176f 52%,#754671 100%);
	background: linear-gradient(135deg,  #77176f 0%,#a621b2 51%,#77176f 52%,#754671 100%);
	font-weight: bolder;
	transition-duration: 0.4s;
}
.button-off {
	color: white;
	background: rgb(169,3,41);
	background: -moz-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
	background: -webkit-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	border-color: #809164;
	font-weight: bolder;
	transition-duration: 0.4s;
}
.button:hover {
	background: rgb(252,234,187);
	background: -moz-linear-gradient(-45deg, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
	background: linear-gradient(135deg, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
	border-color: #BFD49F;
	color: #717D5F;
	transition-duration: 0.4s;
}
