 @import
    "_color.scss",
    "_mixins.scss";
@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background-color: $grey-bg;
    padding: 0;
    margin: 0;
}

p {color: white;}
.bonjour {
    margin-top: 10px;}

//                      animation
@keyframes menu {
    from {width: 0;}
    to {width: 20%;}}

@keyframes logo {
    from {margin-left: -30%;}
    to {margin-left: 10%;}}

@keyframes search-nav {
    0% {display: none;}
    60% {
        display: block;
        margin-left: -500px;
        margin-top: 30px;
        width: 0%;}
    100% {
        margin-left: 10%;
        width: 80%;}}

@keyframes icon-nav {
    0% {display: none}
    60% {
        display: block;
        margin-left: -500px;}
    100% {margin-left: 2%;}}

//                      navigation
.nav {
    z-index: -1;
    position: fixed;
    display: block;
    background-color: $grey-nav;
    width: 20%;
    height: 100%;
    animation-name: menu;
    animation-duration: 1s;
    .nav-logo {
        margin-left: 10%;
        margin-top: 30px;
        width: 80%;
        height: auto;
        animation-name: logo;
        animation-duration: 2s;}
    .search-nav {
        animation-name: search-nav;
        animation-duration: 2s;
        display: block;
        margin-left: 10%;
        width: 80%;
        margin-top: 30px;}

    .container-nav-btn {
        width: 100%;
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
        padding: 10%;
        margin-left: 2%;
        animation-name: icon-nav;
        animation-duration: 2s;
        .container-nav-btn-right {
            width: 40%;
            .icon {margin-bottom: 100%;}}
        .container-nav-btn-left {
            width: 40%;
           .icon {margin-bottom: 100%;}}
    }
}

.sign-ok {
    padding-top: 100px;
    margin-left: 2%;
    display: block;
    width: 20%;
}

//                              connexion
.login_access {
    position: fixed;
    @include border-radius($radius);
    @include box-shadow($params);
    width: 400px;
    height: 350px;
    background-color: $grey-nav;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .close-sign {
        float: left;
        padding-left: 10px;
        padding-top: 10px;}
    .logo-sign {
        position: inherit;
        margin-top: -30px;
        margin-left: 320px;}
    .login-connect {
        position: relative;
        background-color: $grey-light;
        position: inherit;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 17px;
        width: 100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        .s-enregistrer {
            @include border-radius($radius);
            @include box-shadow($params-btn);
            margin-left: 3%;}
        .fb-connect {
            @include border-radius($radius);
            @include box-shadow($params_btn);
            margin-left: 10px;}}
//                              formulaire
    .form-signin {
        width: 100%;
        margin-top: 51px;}
    .form-signin .form-signin-heading,
    .form-signin .checkbox {margin-bottom: 10px;}
    .form-signin .checkbox {font-weight: normal;}
    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;}
    .form-signin .form-control:focus {z-index: 2;}
    .form-signin input {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        width: 70%;
        border-radius: 5px;}
    .form-signin .btn {
        background-image: url("connection.png");
        font-weight: bold;
        font-size: 20px;
        color: white;
        background-size: 180px, 56px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 180px;
        height: 56px;
        border-radius: 5px;}
}
