<!DOCTYPE html>
<html>
<head>
	<title><%=typeof title == 'undefined' ? 'Hypertube' : title%></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta charset="utf-8">
	<link rel="icon" href="http://www.tuxxin.com/wp-content/uploads/2014/01/streaming-video-icon.jpg">
	<link rel="stylesheet" href="/styles/master.css" type="text/css">
	<link rel="stylesheet" href="/styles/responsive.css" media="screen" type="text/css">
	<link rel="stylesheet" href="/styles/home.css" type="text/css">
	<link rel="stylesheet" href="/styles/block.css" type="text/css">
	<link rel="stylesheet" href="/styles/title.css" type="text/css">
	<link rel="stylesheet" href="/styles/pagination.css" type="text/css">
	<link rel="stylesheet" href="/styles/bootstrap-social.css" title="text/css">
	<link rel="stylesheet" href="/styles/font-awesome.min.css" title="text/css">
	<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.0.2/css/hover-min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://use.fontawesome.com/3a447f8ed4.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
	<div class="navi">
		<nav class="navbar-block navbar-fixed-top">
			<div class="container-fluid ">
				<div class="navbar-header">
					<a class="nav-logo navbar-brand" href="/">Hypertube</a>
				</div>
				<% if(!req.session.etat || req.session.etat == "connecté"){ %>
					<% if(req.session.user) { %>
						<ul class="nav navbar-nav">
							<li class="active"><a href="/">Home</a></li>
							<% if(!req.session.user.admin) { %>
								<li><a href="/Users">Users</a></li>
								<li><a href="#">Séries</a></li>
							<% } else { %>
								<li><a href="/Gestion">Gestion utilisateurs</a></li>
							<% } %>
						</ul>
						<form class="navbar-form navbar-left" action="/movie/searchMovie" role="search">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search" name="movie">
							</div>
							<button type="submit" class="btn btn-default">Submit</button>
						</form>
					<% } %>
				<% } %>
				<ul class="nav navbar-nav navbar-right">
					<% if(!req.session.etat || req.session.etat == "déconnecté"){ %>
						<li><a href="login"><span class="glyphicon glyphicon-user"></span> Sign In</a></li>
					<% }else{ %>
						<li><a href="/Users/me">My Account</a></li>
						<li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
					<% } %>
				</ul>
			</div>
		</nav>
	</div>
	<div id="message">
	</div>
<%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/gestionUsers.js"></script>
    <script src="/js/pagination.js"></script>
    <!--SCRIPTS END-->
</body>
</html>
