<start>
<% if(req.session.etat === "connecté" && req.session.user.active === 1) { %>
<h1 class="title-header">Liste des membres</h1>
<div class="central" style="padding-top:0;">
	<% listUsers.forEach(function(user){ %>
		<div class="register">
			<h1 class="title"><%= user.pseudo %></h1>
			<ul class="list-inline">
				<li>
					<p class="register-min-title">
						<%= user.firstName%> <%= user.lastName%>
					</p>
					<div class="">
						<img src="<%= !user.photo ? "/images/pic_default.jpg" : user.photo%>" alt="Mountain View" style="width:200px;height:200px;border-radius:4px;"/>
					</div>
				</li>
			</ul>
		</div>
	<% }); %>
</div>
<% } else { %>
	<a href="/login"><button class="btn-hp hvr-bounce-to-bottom">Me connecter</button></a>
	<h1 class="title-header">Il vous faut être connecté et avec un actif pour accéder à cette page !</h1>
	<script type="text/javascript">
	$(document).ready( function() {
		function clearNav() {
			$(".navi").remove();
		}
		clearNav();
	})
	</script>
<% } %>
<end>
