/* Body left Camera */
.message{
	display: block;
	margin-top: -36px;
	text-align: center;
	font-size: 16px;
	padding: 10px;
	font-family: 'Lobster', cursive;
	background: rgba(157,213,58,1) ;
	background: -moz-linear-gradient(-45deg, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
	background: linear-gradient(135deg, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
	animation-name: message;
	animation-duration: 5s;
}
.message-error{
	display: block;
	margin-top: -36px;
	text-align: center;
	font-size: 16px;
	padding: 10px;
	font-family: 'Lobster', cursive;
	background: rgb(169,3,41);
	background: -moz-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
	background: -webkit-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	color: white;
	animation-name: message;
	animation-duration: 5s;
}
.box {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: space-around;
	margin-top: 2vw;
	padding: 10px 0 10px 0;
	background: rgb(244,195,46);
	background: -moz-linear-gradient(-45deg, rgba(244,195,46,1) 0%, rgba(237,144,23,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(244,195,46,1) 0%,rgba(237,144,23,1) 100%);
	background: linear-gradient(135deg, rgba(244,195,46,1) 0%,rgba(237,144,23,1) 100%);
	width: 60vw;
	box-shadow: 5px 5px 15px rgba(109,0,25,1);
	border: 10px solid rgb(169,3,41);
	border-radius: 5px;
}
.box-menu {
	display: block;
	text-align: center;
	width: 20%;
}
.title {
	display: block;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 10px;
	height:2.5em;
	font-size: 2.5em;
	color: rgb(244,195,46) ;
	background-color: rgba(157,213,58,1) ;
	border-radius: 5px;
	text-shadow: 2px 2px 2px #333;
	box-shadow: 2px 2px 2px #333;
	-webkit-transform: rotate(-6deg);
	-moz-transform: rotate(-6deg);
	-ms-transform: rotate(-6deg);
	-o-transform: rotate(-6deg);
	transform: rotate(-6deg);
}
.save {
	display: block;
	margin:auto;
	margin-bottom: 20px;
	width: 10vw;
	height: 10vw;
	border-radius: 50%;
	background: rgb(169,3,41);
	box-shadow: 3px 3px 5px rgba(109,0,25,1);
}
.save:hover {
	background: rgba(210,0,25,1);
	box-shadow: 3px 3px 5px rgb(169,3,41);
}
.upload {
	color: #333;
	text-shadow: 3px 3px 5px #333;
}
.upload:hover {
	color: rgba(125,190,15,1) ;
	text-shadow: 2px 2px 4px #FFF;
}
.box-cam {
	width: 70%;
	padding: 10px;
}
.image-cam {
	border-radius: 5px;
	background: rgba(157,213,58,1) ;
	background: -moz-linear-gradient(-45deg, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
	background: linear-gradient(135deg, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
	box-shadow: 3px 3px 5px #333;
	width: 100%;
	-webkit-transform: rotate(-6deg);
	-moz-transform: rotate(-6deg);
	-ms-transform: rotate(-6deg);
	-o-transform: rotate(-6deg);
	transform: rotate(-6deg);
}
.webcam {
	border-radius: 5px;
	width: 100%;
	box-shadow: 3px 3px 5px #333;
	-webkit-transform: rotate(6deg);
	-moz-transform: rotate(6deg);
	-ms-transform: rotate(6deg);
	-o-transform: rotate(6deg);
	transform: rotate(6deg);
}

/* Body right slide */
.galerie {
	display: flex;
	justify-content: space-around;
	align-content: flex-start;
	flex-wrap: wrap;
	margin-top: 2vw;
	padding: 10px 0 10px 0;
	background: rgb(182,224,38);
	background: -moz-linear-gradient(-45deg, rgba(182,224,38,1) 0%, rgba(171,220,40,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(182,224,38,1) 0%,rgba(171,220,40,1) 100%);
	width: 30vw;
	height: auto;
	max-height: 43vw;
	overflow-y: auto;
	box-shadow: 5px 5px 15px rgba(109,0,25,1);
	border: 10px solid rgb(169,3,41);
	border-radius: 5px;
}
.title-galerie {
	display: block;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 10px;
	height:1.6em;
	font-size: 2.5em;
	color: rgba(157,213,58,1);
	background: rgb(244,195,46);
	background: -moz-linear-gradient(-45deg, rgba(244,195,46,1) 0%, rgba(237,144,23,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(244,195,46,1) 0%,rgba(237,144,23,1) 100%);
	background: linear-gradient(135deg, rgba(244,195,46,1) 0%,rgba(237,144,23,1) 100%);
	border-radius: 5px;
	text-shadow: 2px 2px 2px #333;
	box-shadow: 2px 2px 2px #333;
	-webkit-transform: rotate(-6deg);
	-moz-transform: rotate(-6deg);
	-ms-transform: rotate(-6deg);
	-o-transform: rotate(-6deg);
	transform: rotate(-6deg);
}
.picture {
	display: block;
	background: rgb(244,195,46);
	background: -moz-linear-gradient(-45deg, rgba(244,195,46,1) 0%, rgba(237,144,23,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(244,195,46,1) 0%,rgba(237,144,23,1) 100%);
	background: linear-gradient(135deg, rgba(244,195,46,1) 0%,rgba(237,144,23,1) 100%);
	margin-bottom: 10px;
	width: 13vw;
	height: 8vw;
	box-shadow: 0 3px 5px #333;
	border-radius: 5px;
	-webkit-transform: rotate(-6deg);
	-moz-transform: rotate(-6deg);
	-ms-transform: rotate(-6deg);
	-o-transform: rotate(-6deg);
	transform: rotate(-6deg);
}
.pics-lib {
	display: block;
	box-shadow: 0 3px 5px #333;
	border-radius: 5px;
	-webkit-transform: rotate(6deg);
	-moz-transform: rotate(6deg);
	-ms-transform: rotate(6deg);
	-o-transform: rotate(6deg);
	transform: rotate(6deg);
}
