/* Navigation menu */
.nav {
	display: flex;
	justify-content: space-between;
	width: auto;
	background: rgb(252,234,187);
	background: -moz-linear-gradient(-45deg, rgba(252,234,187,1) 0%, rgba(251,223,147,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(252,234,187,1) 0%, rgba(251,223,147,1) 100%);
	background: linear-gradient(135deg, rgba(252,234,187,1) 0%, rgba(251,223,147,1) 100%);
	border:2px solid rgb(252,234,187);
	min-height: 5vw;
	box-shadow: 0 3px 5px #ccc;
}
.logo {
	margin-left: 2vw;
	margin-right: 2vw;
	color: white;
}
.nav-bloc {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	width: 10em;
}
.link:hover {
	animation-name: text_on;
	animation-duration: 1s;
}

/* Left */
.nav-left {
	display: inline-block;
	margin: 0;
	width: 100%;
}

/* Right */
.nav-right {
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 38%;
}

.right {
	width: 100%;
}
.link-right {
	display: block;
	color: #fff;
}
.link-right:hover {
	animation-name: text_off;
	animation-duration: 1s;
}
