@keyframes text_on {
	0% { color: #333; }
	50% { color: #ccc; }
	100% { color: #333; }
}

@keyframes text_off {
	0% { color: #ccc; }
	50% { color: #333; }
	100% { color: #ccc; }
}

@keyframes message {
	0% { margin-top: -36px; }
	25% { margin-top: 0; }
	75% { margin-top: 0; }
	100% { margin-top: -36px; }
}
