body {
	background-color: #333;
	margin: 0;
}
p {
	font-size: 1.6vw;
	font-family: sans-serif;
}
.nav-bloc {
	display: inline-block;
	text-decoration: none;
	width: 10vw;
}
.nav {
	display: block;
	width: 100%;
	background-color: #ccc;
	padding-left: 10vw;
	padding-right: 10vw;
	height: 5vw;
	box-shadow: 0 2px 3px #222;
}
