body {
	background: url("https://d13yacurqjgara.cloudfront.net/users/394/screenshots/196180/attachments/3370/background-stripes.png");
}
.container {
	width: 100%;
	padding-left: 3%;
}
.col {
	display: inline-block;
	width: 5%;
}
.elem {
	padding: 2px;
	box-shadow: 2px 2px 3px grey;
	display: block;
	margin-bottom: 5px;
	overflow: auto;
}
h1 {
	text-align: center;
	margin: 0;
	font-size: 2.2vw;
}
p {
	font-size: 1vw;
}
.title { text-align: center; }
.masse {
	margin: 0;
	text-align: right;
}
.num {
	margin: 0;
}
.elem-hidden {
	display: block;
	height: 75px;
}
.non-metaux { background:linear-gradient(to left top, #2EDB2B, white);}
.metaloides { background:linear-gradient(to left top, #72D86E, white);}
.transit-metal { background:linear-gradient(to left top, #64C4B2, white);}
.halogene { background:linear-gradient(to left top, #2FA6C4, white);}
.gaz-rare { background:linear-gradient(to left top, #2853EF, white);}
.metaux-transit { background:linear-gradient(to left top, #AA791D, white);}
.metaux-alca { background:linear-gradient(to left top, #FFF719, white);}
.metaux-alcalin { background:linear-gradient(to left top, #F7CE18, white);}
.lanthanides { background:linear-gradient(to left top, #DEB887, white);}
.actini { background:linear-gradient(to left top, #FFE4C4, white);}

@media screen and (max-width: 760px) { .col { width: 4.8%; }}
@media screen and (max-width: 520px) { .col { width: 4.4%; }}
