<% include header %>
<div class="box">

	<div class="head">
		<i class="fa fa-heart-o logo" aria-hidden="true" style="font-size:5em;"></i>
	</div>

	<div class="form">
		<h1 class="form-title">Création</h1>
		<form action="/signup" method="post">
			<div class="field">
				<label for="pseudo">Nom d'utilisateur</label>
				<input type="text" name="pseudo" id="pseudo" class="insert"></input>
			</div>
			<div class="field">
				<label for="first_name">Prenom</label>
				<input type="text" name="first_name" id="first_name" class="insert"></input>
			</div>
			<div class="field">
				<label for="last_name">Nom</label>
				<input type="text" name="last_name" id="last_name" class="insert"></input>
			</div>
			<div class="field">
				<label for="email">eMail</label>
				<input type="email" name="email" id="email" class="insert"></input>
			</div>
			<div class="field">
				<label for="password">Mot de passe</label>
				<input type="password" name="password" id="password" class="insert"></input>
			</div>
			<button type="submit" name="create" class="hvr-bounce-to-right"><i class="fa fa-check" aria-hidden="true"></i></button>
		</form>
	</div>
	<div class="form no-margin-top">
		<form action="/" method="get">
			<button name="signup" class="hvr-bounce-to-right icon-text"><i class="fa fa-plus-circle" aria-hidden="true"></i>J'ai déja un compte</button>
			</form>
	</div>

</div>
<% include footer %>
