</div>

<footer>

	<p>
		ylarbi@42
	</p>
</footer>

</body>
<script type="text/javascript" src="/assets/js/ajax.js"></script>
<!-- <script type="text/javascript" src="/assets/js/mustache.js"></script> -->
<!-- <script type="text/javascript" src="/assets/js/notif.js"></script> -->
</html>
