<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Matcha le site de rencontre</title>
	<link rel="stylesheet" href="/assets/css/master.css" charset="utf-8">
	<link rel="stylesheet" href="/assets/css/form.css" charset="utf-8">
	<link rel="stylesheet" href="/assets/css/connexion.css" charset="utf-8">
	<link rel="stylesheet" href="/assets/css/hover.css" charset="utf-8">
	<link rel="stylesheet" href="/assets/css/nav.css" charset="utf-8">
	<link rel="stylesheet" href="/assets/css/avatar.css" charset="utf-8">
	<link rel="stylesheet" href="/assets/css/font-awesome.css" charset="utf-8">
	<link rel="stylesheet" href="/assets/css/profil.css" charset="utf-8">
	<link rel="stylesheet" href="/assets/css/chat.css" charset="utf-8">
	<link rel="stylesheet" href="/assets/css/notif.css" charset="utf-8">
	<link href='https://fonts.googleapis.com/css?family=Pacifico|Arimo:400italic' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="/assets/js/notify.js"></script>
	<script src="/assets/js/client.js"></script>
	<script type="text/javascript">
		setInterval( function() {
			$('div#result').load('/notif #notif-time');
		}, 3000);
	</script>
</head>
<body>
	<div class="container">
		<% if (locals.flash && locals.flash.error) { %>
		<div class="error notif-message" id="notif-app">
			<%= flash.error %>
		</div>
		<% } else if (locals.flash && locals.flash.success) { %>
			<div class="success notif-message" id="notif-app">
				<%= flash.success %>
			</div>
		<% } %>
		<div class="head">
			<a href="/home"><i class="fa fa-heart-o logo" aria-hidden="true" style="font-size:5em;"></i></a>
			<a href="/logout"><i class="fa fa-sign-out logo" aria-hidden="true" style="font-size:5em;"></i></a>
		</div>

		<div id="result"></div>
