<% include header %>
<div class="box">

	<div id="login" class="form form-screen">
		<h1 class="form-title">Connection</h1>
		<form action="/" method="post" id="loginform">
			<div class="field">
				<label for="email">Login ou Email</label>
				<input type="text" name="email" id="mail username" class="insert"></input>
			</div>
			<div class="field">
				<label for="password">Mot de passe</label>
				<input type="password" name="password" id="" class="insert"></input>
			</div>
			<button type="submit" name="connexion" class="hvr-bounce-to-right"><i class="fa fa-check" aria-hidden="true"></i></button>
		</form>
	</div>
	<div class="form no-margin-top  form-screen">
		<form action="/signup" method="get">
			<button name="signup" class="hvr-bounce-to-right icon-text"><i class="fa fa-plus-circle" aria-hidden="true"></i>Enregistrement</button>
		</form>
		<a href="/reset_password" class="hvr-bounce-to-right" style="margin-top:20px;">Mot de passe oublié ?</a>
	</div>

</div>
<% include footer %>
