<nav>
	<div class="nav-block">
		<a href="/profil"><i class="fa fa-user logo" aria-hidden="true"></i></a>
	</div>
	<div class="nav-block">
		<a href="/coffee"><i class="fa fa-coffee logo" aria-hidden="true"></i></a>
	</div>
</nav>
