<% include ../layout/header %>
<% include ../layout/nav %>
<div class="box">

	<div class="form">
		<h1 class="form-title">Bienvenue</h1>
		<div class="content">
			<div class="metadata">
				<div class="text">
					<p>
						Bonjour <%= user.first_name %>.<br>
						Si tu souhaites renconter de nouvelles personnes diriges toi vers le café. Bonne rencontre et pleins de <i class="fa fa-heart-o" aria-hidden="true"></i>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="form no-margin-top">
		<form action="/coffee" method="get">
			<button name="coffee" class="hvr-bounce-to-right icon-text"><i class="fa fa-sign-out" aria-hidden="true"></i> Aller au café</button>
		</form>
	</div>

</div>
<% include ../layout/footer %>
