.message-text {

}
.message-type {
	font-family: 'Lobster', cursive;

}
.message-error-static {
	display: block;
	width: 100%;
	margin-top: -5vw;
	text-align: center;
	padding: 5px;
	color: white;
	box-shadow: 1px 1px 1px  rgb(169,3,41);
	background: rgb(169,3,41);
	background: -moz-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
	background: -webkit-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	-webkit-animation: message-error-static 5s;
	-moz-animation:    message-error-static 5s;
	-o-animation:      message-error-static 5s;
	animation:         message-error-static 5s;
}
.message-valid-static {
	display: block;
	width: 100%;
	margin-top: -5vw;
	text-align: center;
	padding: 5px;
	color: white;
	background: rgba(157,213,58,1) ;
	background: -moz-linear-gradient(-45deg, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
	background: linear-gradient(135deg, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
	-webkit-animation: message-error-static 5s;
	-moz-animation:    message-error-static 5s;
	-o-animation:      message-error-static 5s;
	animation:         message-error-static 5s;
}

@media screen and (max-device-width: 768px)
{

	.message-type {
		font-size: 1em;
	}
	.message-error-static {
		margin-top: -30vw;
	}
	.message-valid-static {
		margin-top: -30vw;
	}
	@keyframes message-error-static {
		0% { margin-top: -30vw; }
		25% { margin-top: 0; }
		75% { margin-top: 0; }
		100% { margin-top: -30vw; }
	}
}
