.message-text {
	font-size: 1.4em;
}
.message-type {
	font-family: 'Lobster', cursive;
	font-size: 1.5em;
}
.message-error-static {
	display: block;
	width: 100%;
	margin-top: -5vw;
	text-align: center;
	padding: 5px;
	color: white;
	box-shadow: 1px 1px 1px  rgb(169,3,41);
	background: rgb(169,3,41);
	background: -moz-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
	background: -webkit-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	-webkit-animation: message-error-static 5s;
	-moz-animation:    message-error-static 5s;
	-o-animation:      message-error-static 5s;
	animation:         message-error-static 5s;
}
