@media screen and (max-width: 1200px) {
	.title-galerie {
		font-size: 2em;
	}
}
@media screen and (max-width: 1024px) {
	.container {
		display: block;
	}
	.box {
		width: 95vw;
	}
	.box-menu {
		width: auto;
	}
	.box-min {
		width: 100%;
	}
	.galerie {
		width: 95vw;
		max-height: none;
	}
	.picture-cam {
		display: inline-block;
	}
	.webcam {
		border-radius: 5px;
		height: 49.9vw;
	}
	.title-galerie {
		width: 68%;
		font-size: 2.5em;
		margin-bottom: 50px;
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
	}
	.picture {
		width: 100%;
		height: 50vw;
	}
	.pics-lib {
		width: auto;
		height: 50vw;
	}
	.del-button {
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.picture-gal {
		width: 78%;
		height: 56vw;
	}
	.pics-gal {
		width: auto;
		height: 56vw;
	}
	.comments-autor {
		width: auto;
	}
	.auteur {
		width: 100%;
	}
}
@media screen and (max-device-width: 768px)
{
	p {
		font-size: 7vw;
	}
	a {
		font-size: 5vw;
	}
	input {
		font-size: 1em;
	}
	.form-signin {
		background: rgb(254,252,234);
		background: -moz-linear-gradient(top, rgba(254,252,234,1) 0%, rgba(239,224,127,1) 100%);
		background: -webkit-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(239,224,127,1) 100%);
		background: linear-gradient(to bottom, rgba(254,252,234,1) 0%,rgba(239,224,127,1) 100%);
		display: block;
		border: 2px solid rgba(109,0,25,1);
		box-shadow: 1px 1px 1px  rgb(169,3,41);
		width: 100%;
		height: 100%;
		margin: auto;
	}
	.header-log {
		border-radius: 0;
		padding: 4vw;
	}
	.link-sign {
		font-size: 3em;
	}
	.login {
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 10vh;
	}
}
